.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem 0;

  .logo {
    display: flex;

    .text_name {
      // color: rgb(32, 250, 8);
      color: var(--black);
      margin-top: 20px;

      h1,
      p {
        margin: 0;
        text-align: center;
      }
    }

    .logo_img {
      width: 7rem;
      height: 7rem;
      margin: 0 0 2.5rem 1.5rem;
    }
  }

  svg {
    padding-right: 16px;
  }
  .btn_fb {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 30px;
    padding: 6px 24px;
    margin: 5px 0;
    width: 45rem;
    height: 45px;
    background-color: #405a93;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
  }
  .btn_fb:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .btn_gg {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 30px;
    padding: 6px 24px;
    margin: 5px 0;
    width: 45rem;
    height: 45px;
    background-color: #ffffff;
    color: #535353;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
  }
  .btn_gg:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .btn_tw {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 30px;
    padding: 6px 24px;
    margin: 5px 0;
    width: 45rem;
    height: 45px;
    background-color: #ffffff;
    color: #535353;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.5s;
    .icon_tw {
      width: 24px;
      height: 24px;
      padding-right: 16px;
    }
  }
  .btn_tw:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  .or_container {
    display: table;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.2rem;
    margin: 0px auto 1em;
    color: var(--light-white);
    position: relative;
    text-align: center;
    width: 45rem;
    margin: 2rem 0;

    &::before {
      border-top: 1px solid var(--light-white);
      content: "";
      display: table-cell;
      position: relative;
      top: 0.8em;
      width: 42%;
    }

    &::after {
      border-top: 1px solid var(--light-white);
      content: "";
      display: table-cell;
      position: relative;
      top: 0.8em;
      width: 42%;
    }
  }

  .form_container {
    width: 45rem;
    display: flex;
    flex-direction: column;

    .form_heading {
      font-size: 1.8rem;
      line-height: 2.6rem;
      text-align: center;
      margin-top: 0;
    }

    .input_container {
      width: 45rem;
      margin: 0.5rem 0 2rem 0;
      p {
        margin: 0.5rem 0;
        font-weight: 500;
        font-size: 1.4rem;
      }
      input {
        width: 43rem;
        height: 5rem;
        font-size: 1.6rem;
        font-weight: 400;
        border-radius: 0.5rem;
        border: 0.1rem solid var(--black);
        padding: 0 1rem;

        &:hover {
          outline: 1px solid var(--black);
        }
      }
    }

    .checkbox {
      margin: 0 0 2rem 3.3rem;

      span {
        width: 0;
        height: 0;
      }
      label {
        width: 10px;
      }
      p {
        font-size: 1.3rem;
        font-weight: 600;
        margin: -1.7rem 0 0 -0.5rem;
      }
    }

    .date_of_birth_container {
      display: flex;
      flex-direction: column;
      width: 45rem;
      margin: 0.5rem 0;

      p {
        margin: 0.5rem 0;
        font-weight: 500;
        font-size: 1.4rem;
      }

      .date_of_birth {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        p {
          font-weight: normal;
        }

        .month {
          width: 40%;
        }

        .date {
          width: 20%;
        }

        .year {
          width: 30%;
        }
      }
    }

    .terms_condition {
      width: 45rem;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-weight: 500;

      margin: 0.8rem 0;

      a {
        text-decoration: underline;
        color: var(--dark-green);
      }
    }

    .submit_btn_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45rem;
      margin: 1rem 0 1.5rem 0;

      .btn_signup {
        border: 0;
        border-radius: 30px;
        padding: 16px 48px;
        width: 165px;
        height: 55px;
        background-color: #1ed760;
        font-weight: 700;
        font-size: 16px;
        transition: all 0.5s;
      }
      .btn_signup:hover {
        transform: scale(1.05);
        transition: all 0.5s;
        color: #ffffff;
      }
    }
  }
}
