/* Chrome, Safari, Opera */
@-webkit-keyframes xoayvong {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes xoayvong {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.img {
  img {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    animation: xoayvong 10s linear 0s infinite;
    -webkit-animation: xoayvong 10s linear 0s infinite;
    -moz-animation: xoayvong 10s linear 0s infinite;
    -o-animation: xoayvong 10s linear 0s infinite;
  }
}
.text {
  margin-left: 1rem;

  p {
    width: 15rem;
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
  span {
    color: gray;
    font-weight: 700;
  }
}
