.each_slide_effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 18rem;
  width: 18rem;
  border-radius: 5px;
  margin: 0 2rem 0 2rem;
}
