.container {
  // background-color: rgb(193, 115, 115);
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // margin: 24px;
  // height: 25vh;
  // width: 100%;
  // position: sticky;

  background-color: rgb(69, 82, 101);

  height: 6rem;
  width: calc(100% - 28rem);
  // background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 1px 30rem;

  .navbar_container {
    width: calc(100vw - 20rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem 0 0;

    .nav_links {
      display: flex;
      color: white;
      padding: 0 0 0 1rem;

      .links {
        text-decoration: none;
        font-weight: 700;
        font-size: 1.6rem;
        padding: 0 1.8rem;
        cursor: pointer;
        color: var(--white);

        &:hover {
          color: var(--primary);
        }
      }
      .btn_logout {
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        color: white;
        font-weight: 700;
        font-size: 1.6rem;
        margin-top: -1.2rem;
        margin-left: 30rem;
        height: 4.5rem;
        width: 10rem;
      }
      .btn_logout:hover {
        background-color: rgb(0, 0, 0);
        color: var(--primary);
        border: none;
        border-radius: 3rem;
      }
    }
    .AvatarandName {
      //  background-color: rgb(227, 226, 226);
      //padding: 1.3rem 1rem;
      gap: 1rem;
      //border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        font-size: 3rem;
        color: aquamarine;
      }
      span {
        font-size: 1.5rem;
        color: white;
      }
    }
  }
}
